@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css";

.hero {
	background: black url(images/backworkspace.jpg) center / cover;
  padding-left: 1%;
  padding-top: 0.5%;
}


footer {
text-align: center;
}
.projects {
  overflow: auto;
  height:800px;
}

.sticks,.lineProjects{
  list-style:none;
}
.sticks{
  overflow:hidden;
  padding:3em;
}
.sticks .lineProjects .aProjects{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:13em;
  width:15em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
.sticks .lineProjects{
  margin:1em;
  float:left;
}
.sticks .lineProjects h2{
  font-size:120%;
  font-weight:bold;
  padding-bottom:10px;
  text-align: center;
  text-transform: capitalize;
}
.sticks .lineProjects p{
  font-family: monospace;
  font-size:90%;

}
.sticks .lineProjects .aProjects{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
.sticks .lineProjects:nth-child(even) .aProjects{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
.sticks .lineProjects:nth-child(3n) .aProjects{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
.sticks .lineProjects:nth-child(5n) .aProjects{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
.sticks .lineProjects .aProjects:hover,.sticks .lineProjects .aProjects:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

/* Sticks Requisitos */
 .aRequisits {
  overflow: auto;
}

.sticks_results,.lineRequisits{
  list-style:none;
}

.sticks_results .lineRequisits .aRequisits{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height: 18em;
  width:50em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
.sticks_results .lineRequisits{
  margin:1em;
  float:left;
}
.sticks_results .lineRequisits h2{
  font-size:120%;
  font-weight:bold;
  padding-bottom:10px;
  text-align: center;
  text-transform: capitalize;
}
.sticks_results .lineRequisits p{
  font-family: monospace;
  font-size:90%;

}
.sticks_results .lineRequisits .aRequisits{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
.sticks_results .lineRequisits:nth-child(even) .aRequisits{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
.sticks_results .lineRequisits:nth-child(3n) .aRequisits{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
.sticks_results .lineRequisits:nth-child(5n) .aRequisits{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
.sticks_results .lineRequisits .aRequisits:hover,.sticks_results .lineRequisits ..aRequisits:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

.lineRequisits {
  transform: rotate(3deg); 
}